{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": ["airbnb", "prettier"],
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true,
      "globalReturn": false
    },
    "allowImportExportEverywhere": true,
    "babelOptions": {
      "configFile": "./babel.config.js"
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": "webpack"
  },
  "plugins": ["react", "prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
